# Rust
/core_engine/target/
target/

# Flutter
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/ui_app/.dart_tool/
/ui_app/build/
/ui_app/.flutter-plugins
/ui_app/.flutter-plugins-dependencies
/ui_app/linux/flutter/ephemeral/
/ui_app/windows/flutter/ephemeral/
*.iml
.DS_Store

# Exclude FRB generated caches/binaries
/ui_app/rust_builder/
/ui_app/rust/target/
